body{
    background-color: white;
}
#top{
    height: 100px; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    background-image: radial-gradient(white, 1%, black);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color: white;
}
h1{
    margin-top: -2px;
}
#info{
    margin-top: 100px;
}
#usnm, #mnth{
    /* margin-top: -2px; */
    border: none;
    height: 40px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 25px;
}
#usnm:focus, #mnth:focus{
    outline: none;
    background-color: rgba(128, 128, 128, 0.287);
    transition: 950ms;
}
#usnm:hover, #mnth:hover{
    background-color: rgba(128, 128, 128, 0.201);
    transition: 400ms;
}
#get{
    margin-top: -2px;
    border: none;
    background-color: springgreen;
    color: black;
    width: 130px;
    height: 50px;
    font-size: 23px;
    cursor: pointer;
}
#get:hover{
    background-color: rgba(7, 209, 84, 0.671);
}
#get:focus{
    outline: none;
    background-color: rgba(7, 209, 84, 0.671);
}
#table, tr, td{
    border: 1px solid black;
}
#row1{
    font-weight: bolder;
}